@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply scroll-smooth;
}

body {
  @apply font-sans antialiased bg-neutral-900 text-neutral-300;
}

.drawer-side > :not(.drawer-overlay) {
  @apply duration-500;
}

.drawer-toggle:checked ~ .drawer-side > .drawer-overlay, .modal::backdrop {
  @apply bg-neutral-950/60 backdrop-blur-sm duration-500;
}

.menu li > :not(ul, .menu-title, details, .btn):active {
  @apply bg-transparent;
}

:where(
    .menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)
  ):not(summary, .active, .btn):focus {
  @apply bg-transparent;
}

.loader {
  color: #c94b04;
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: l21 0.5s infinite alternate linear;
}

@keyframes l21 {
  50% {
    box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
  }
  100% {
    box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
  }
}

#banner {
  transition: padding 0.5s ease;
}

#banner.scrolled {
  padding: 0 !important;
}
